@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientScroll {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradientScroll 15s ease infinite;
}